.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-top: 20px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  padding: 10px 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid silver;
}
.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 91%;
  align-self: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0 53 255);
  border-style: hidden;
}
