.containerlc {
  margin: auto;
  text-align: center;
  width: 59%;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  margin-top: 15px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 20px;
  font-weight: 600;
}

.h2 {
  color: blue;
  width: 60%;
  margin-top: 10px;
  margin: auto;
  display: flex;
}
.plc {
  color: rgb(44, 41, 41);
}
